In [1]:
import pandas as pd
from pandas import DataFrame

In [5]:
#load station data with geocodes [longitude and latitude]

geodf = pd.read_csv('/Users/pillbug/ds/metis/NYC_Transit_Subway_Entrance_And_Exit_Data.csv')
geodf.head()

   Station Latitude  Station Longitude  Division  Line     Station Name
0         40.661453         -73.916327         3     3      Saratoga Av
1         40.744081         -73.995657         4     4          23rd St
2         40.699814         -73.911586         3     3        Myrtle Av
3         40.852462         -73.828121         5     5  Pelham Bay Park
4         40.699337         -73.990531         3     3          High St

In [6]:
geodf.rename(columns={'Station Name' : 'STATION'},inplace=True)
geodf.head(1)

   Station Latitude  Station Longitude  Division  Line      STATION
0         40.661453         -73.916327         3     3  Saratoga Av

In [10]:
#rename station 
statlist = geodf['STATION'].unique().tolist()
#statlist = sorted(statlist)